In [ ]:
!conda install -y pandas
!conda install -y seaborn
!conda install -y scikit-learn
!conda install -y statsmodels
!conda install -y seaborn
import pandas as pd
from sklearn import linear_model
import statsmodels.api
import seaborn as sns 
import glob
import matplotlib.pyplot as plt
import numpy as np

In [63]:

filenames = glob.glob('data_2019/*.csv')
li = []
for filename in filenames: 
    df = pd.read_csv(filename, index_col=None, header=0)
    filename = filename.replace('data_2019/', "")
    filename = filename.replace('.csv', '')
    df['Day'] = filename
    df.rename(columns= {'Day' : 'Team Name'}, inplace= True)
    df['Week'] = range(1, len(df) + 1)
    li.append(df)

team_stats_init = pd.concat(li, axis= 0, ignore_index=True)

team_stats_init.drop(team_stats_init.columns[team_stats_init.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
team_stats_init.drop(team_stats_init.columns[team_stats_init.columns.str.contains('opp',case = False)],axis = 1, inplace = True)


team_stats_init = team_stats_init.rename(columns = {team_stats_init.columns[5]: "ScoredPoints", team_stats_init.columns[6]: "FirstDowns", team_stats_init.columns[10]: "TurnoversAllowed",team_stats_init.columns[11] : "FirstAllowed", team_stats_init.columns[12] : "YardsAllowed", team_stats_init.columns[12]: "YardsAllowed", team_stats_init.columns[13]: "PassYardsAllowed", team_stats_init.columns[14]: "RushingYardsAllowed", team_stats_init.columns[15]: "Turnovers"})
team_stats_init.drop(team_stats_init.columns[team_stats_init.columns.str.contains('Date',case = False)],axis = 1, inplace = True)
team_stats_init.drop(team_stats_init.columns[team_stats_init.columns.str.contains('Rec',case = False)],axis = 1, inplace = True)
team_stats_init.drop(team_stats_init.columns[team_stats_init.columns.str.contains('OT',case = False)],axis = 1, inplace = True)
team_stats_init = team_stats_init.iloc[:, :12]
team_stats_init.to_csv(r"data_for_models/full_dataframe.csv")
team_stats_init.head(34)

,Week,Team Name,ScoredPoints,FirstDowns,PassY,RushY,TurnoversAllowed,FirstAllowed,YardsAllowed,PassYardsAllowed,RushingYardsAllowed,Turnovers
0,1,Steelers,3.0,15.0,276.0,32.0,1.0,24.0,465.0,366.0,99.0,NaN
1,2,Steelers,26.0,17.0,180.0,81.0,1.0,25.0,425.0,274.0,151.0,2.0
2,3,Steelers,20.0,11.0,160.0,79.0,2.0,26.0,436.0,268.0,168.0,5.0
3,4,Steelers,27.0,20.0,260.0,66.0,1.0,16.0,175.0,102.0,73.0,2.0
4,5,Steelers,23.0,18.0,192.0,77.0,2.0,22.0,277.0,139.0,138.0,3.0
5,6,Steelers,24.0,18.0,132.0,124.0,1.0,23.0,348.0,316.0,32.0,3.0
6,7,Steelers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,8,Steelers,27.0,21.0,236.0,158.0,1.0,16.0,230.0,170.0,60.0,4.0
8,9,Steelers,26.0,17.0,183.0,90.0,2.0,22.0,328.0,189.0,139.0,3.0
9,10,Steelers,17.0,15.0,231.0,42.0,2.0,16.0,306.0,218.0,88.0,4.0
10,11,Steelers,7.0,18.0,178.0,58.0,4.0,17.0,293.0,189.0,104.0,NaN
11,12,Steelers,16.0,16.0,179.0,159.0,1.0,11.0,244.0,158.0,86.0,2.0
12,13,Steelers,20.0,18.0,199.0,124.0,1.0,19.0,279.0,173.0,106.0,2.0
13,14,Steelers,23.0,20.0,135.0,140.0,2.0,17.0,236.0,165.0,71.0,3.0
14,15,Steelers,10.0,15.0,178.0,51.0,5.0,17.0,261.0,131.0,130.0,2.0
15,16,Steelers,10.0,16.0,185.0,75.0,2.0,14.0,259.0,174.0,85.0,1.0
16,17,Steelers,10.0,10.0,77.0,91.0,2.0,19.0,304.0,81.0,223.0,2.0
17,1,Patriots,33.0,24.0,366.0,99.0,NaN,15.0,308.0,276.0,32.0,1.0
18,2,Patriots,43.0,27.0,255.0,124.0,1.0,11.0,184.0,142.0,42.0,4.0
19,3,Patriots,30.0,21.0,313.0,68.0,2.0,6.0,105.0,69.0,36.0,1.0
20,4,Patriots,16.0,11.0,150.0,74.0,1.0,23.0,375.0,240.0,135.0,4.0
21,5,Patriots,33.0,23.0,312.0,130.0,1.0,11.0,223.0,78.0,145.0,2.0
22,6,Patriots,35.0,27.0,313.0,114.0,2.0,10.0,213.0,161.0,52.0,4.0
23,7,Patriots,33.0,22.0,249.0,74.0,1.0,12.0,154.0,73.0,81.0,6.0
24,8,Patriots,27.0,19.0,239.0,79.0,NaN,15.0,310.0,151.0,159.0,3.0
25,9,Patriots,20.0,22.0,268.0,74.0,2.0,26.0,372.0,162.0,210.0,2.0
26,10,Patriots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,11,Patriots,17.0,19.0,224.0,74.0,NaN,21.0,255.0,174.0,81.0,1.0
28,12,Patriots,13.0,17.0,181.0,101.0,NaN,16.0,321.0,212.0,109.0,1.0
29,13,Patriots,22.0,29.0,303.0,145.0,1.0,16.0,276.0,224.0,52.0,NaN
30,14,Patriots,16.0,17.0,184.0,94.0,1.0,20.0,346.0,271.0,75.0,2.0
31,15,Patriots,34.0,19.0,116.0,175.0,NaN,19.0,315.0,151.0,164.0,5.0
32,16,Patriots,24.0,23.0,271.0,143.0,1.0,14.0,268.0,176.0,92.0,NaN
33,17,Patriots,24.0,18.0,217.0,135.0,2.0,26.0,389.0,326.0,63.0,NaN

In [ ]:
for col in team_stats_init.iloc[:, 3:].columns:
    
    lin_reg_test =statsmodels.formula.api.ols(formula="ScoredPoints ~ {}".format(col), data=team_stats_init).fit()
    print(lin_reg_test.summary())

In [ ]:
#Plotting variables that have high correlation to scoring
cnt = 1
for title, group in team_stats_init.groupby('Team Name'):
    plt.figure(cnt)
    sns.regplot(x= 'PassY', y= 'ScoredPoints', data= group)
    plt.title(title)
    cnt += 1
    plt.figure(cnt)
    sns.regplot(x= 'RushY', y= 'ScoredPoints', data= group)
    plt.title(title)
    cnt += 1

In [ ]:
#Plotting combined statistics across all teams

Pass_Yards = sns.lmplot(x= 'PassY', y= 'ScoredPoints', palette= sns.color_palette("Paired"), hue= 'Team Name',data= team_stats_init, height= 8, fit_reg= False)
sns.regplot(x="PassY", y="ScoredPoints", data=team_stats_init, scatter=False, ax= Pass_Yards.axes[0, 0], line_kws={"color": "black"})
plt.xlabel("Passing Yards")
plt.ylabel("Points Scored")
plt.title("Points Scored vs Pass Yards Across All NFL Teams in the 2019 Season")

Rush_Yards = sns.lmplot(x= 'RushY', y= 'ScoredPoints', palette= sns.color_palette("Paired"), hue= 'Team Name',data= team_stats_init, height= 8, fit_reg= False)
sns.regplot(x="RushY", y="ScoredPoints", data=team_stats_init, scatter=False, ax= Rush_Yards.axes[0, 0], line_kws={"color": "black"})
plt.xlabel("Rushing Yards")
plt.ylabel("Points Scored")
plt.title("Points Scored vs Rush Yards Across All NFL Teams in the 2019 Season")

Turnovers_Allowed = sns.lmplot(x= 'TurnoversAllowed', y= 'ScoredPoints', palette= sns.color_palette("Paired"), hue= 'Team Name',data= team_stats_init, height= 8, fit_reg= False)
sns.regplot(x="TurnoversAllowed", y="ScoredPoints", data=team_stats_init, scatter=False, ax= Turnovers_Allowed.axes[0, 0], line_kws={"color": "black"})
plt.xlabel("Turnovers Allowed")
plt.ylabel("Points Scored")
plt.title("Points Scored vs Turnovers Allowed Across All NFL Teams in the 2019 Season")

Rushing_Yards_Allowed = sns.lmplot(x= 'RushingYardsAllowed', y= 'ScoredPoints', palette= sns.color_palette("Paired"), hue= 'Team Name',data= team_stats_init, height= 8, fit_reg= False)
sns.regplot(x="RushingYardsAllowed", y="ScoredPoints", data=team_stats_init, scatter=False, ax= Rushing_Yards_Allowed.axes[0, 0], line_kws={"color": "black"})
plt.xlabel("Rushing Yards Allowed")
plt.ylabel("Points Scored")
plt.title("Points Scored vs Rushing Yards Allowed Across All NFL Teams in the 2019 Season")

In [58]:
test_train_data = pd.DataFrame(columns=['Team Name', 'Scored Points', 'Expected Pass Yards'])
for title, group in team_stats_init.groupby('Team Name'):
  
    series = group.iloc[:, 4:5]
    values = pd.DataFrame(series.values)
    averages = {}
    lst = []
    add_to_subset = {}
    for index in range(values.shape[0]):
        if index > 0:
            ele = values.iloc[:index, :].mean(numeric_only= True)
            lst.append(ele.values[0])
        else:
            lst.append(0)

    averages[0] = lst
    averages = pd.DataFrame(averages)
    averages.replace(0, np.nan, inplace=True)
    averages.columns = ['Expected Pass Yards']

    add_to_subset['Team Name'] = [title] * 17
    add_to_subset = pd.DataFrame(add_to_subset, columns = ["Team Name"])
    add_to_subset['Scored Points'] = group['ScoredPoints'].values
    add_to_subset['Expected Pass Yards'] = averages['Expected Pass Yards']
    
    test_train_data = pd.concat([test_train_data, add_to_subset], ignore_index = True)

In [59]:
rushing_column = pd.DataFrame(columns= ["Expected Rushing Yards"])
for title, group in team_stats_init.groupby('Team Name'):
  
    series = group.iloc[:, 5:6]
    values = pd.DataFrame(series.values)
    averages = {}
    lst = []
    add_to_subset = {}
    for index in range(values.shape[0]):
        if index > 0:
            ele = values.iloc[:index, :].mean(numeric_only= True)
            lst.append(ele.values[0])
        else:
            lst.append(0)

    averages[0] = lst
    averages = pd.DataFrame(averages)
    averages.replace(0, np.nan, inplace=True)
    averages.columns = ['Expected Rushing Yards']
    add_to_subset['Expected Rushing Yards'] = averages['Expected Rushing Yards'].values
    
    add_to_subset = pd.DataFrame(add_to_subset, columns = ["Expected Rushing Yards"])

    rushing_column = pd.concat([rushing_column, add_to_subset])
    

test_train_data["Expected Rushing Yards"] = rushing_column['Expected Rushing Yards'].values

In [60]:
rushing_column = pd.DataFrame(columns= ["Expected Turnovers Allowed"])
for title, group in team_stats_init.groupby('Team Name'):
  
    series = group.iloc[:, 6:7]
    values = pd.DataFrame(series.values)
    averages = {}
    lst = []
    add_to_subset = {}
    for index in range(values.shape[0]):
        if index > 0:
            ele = values.iloc[:index, :].mean(numeric_only= True)
            lst.append(ele.values[0])
        else:
            lst.append(0)

    averages[0] = lst
    averages = pd.DataFrame(averages)
    averages.replace(0, np.nan, inplace=True)
    averages.columns = ['Expected Turnovers Allowed']
    add_to_subset['Expected Turnovers Allowed'] = averages['Expected Turnovers Allowed'].values
    
    add_to_subset = pd.DataFrame(add_to_subset, columns = ["Expected Turnovers Allowed"])

    rushing_column = pd.concat([rushing_column, add_to_subset])
    

test_train_data["Expected Turnovers Allowed"] = rushing_column['Expected Turnovers Allowed'].values

In [62]:
rushing_column = pd.DataFrame(columns= ["Expected Rushing Yards Allowed"])
for title, group in team_stats_init.groupby('Team Name'):
  
    series = group.iloc[:, 10:11]
    values = pd.DataFrame(series.values)
    averages = {}
    lst = []
    add_to_subset = {}
    for index in range(values.shape[0]):
        if index > 0:
            ele = values.iloc[:index, :].mean(numeric_only= True)
            lst.append(ele.values[0])
        else:
            lst.append(0)

    averages[0] = lst
    averages = pd.DataFrame(averages)
    averages.replace(0, np.nan, inplace=True)
    averages.columns = ['Expected Rushing Yards Allowed']
    add_to_subset['Expected Rushing Yards Allowed'] = averages['Expected Rushing Yards Allowed'].values
    
    add_to_subset = pd.DataFrame(add_to_subset, columns = ["Expected Rushing Yards Allowed"])

    rushing_column = pd.concat([rushing_column, add_to_subset])
    

test_train_data["Expected Rushing Yards Allowed"] = rushing_column['Expected Rushing Yards Allowed'].values
test_train_data.to_csv(r"data_for_models/test_train_data.csv")
test_train_data

,Team Name,Scored Points,Expected Pass Yards,Expected Rushing Yards,Expected Turnovers Allowed,Expected Rushing Yards Allowed
0,49ers,31.0,NaN,NaN,NaN,NaN
1,49ers,41.0,158.000000,98.000000,2.000000,121.000000
2,49ers,24.0,235.000000,178.500000,1.500000,73.000000
3,49ers,NaN,246.000000,175.000000,2.666667,75.000000
4,49ers,31.0,246.000000,175.000000,2.666667,75.000000
...,...,...,...,...,...,...
539,Vikings,30.0,236.181818,142.454545,2.000000,94.181818
540,Vikings,20.0,239.500000,137.083333,2.142857,104.500000
541,Vikings,39.0,239.076923,135.769231,2.142857,101.846154
542,Vikings,10.0,236.785714,135.857143,2.000000,99.000000
543,Vikings,19.0,226.466667,130.600000,1.888889,104.666667